

.body-notfound {
  margin: 0;
  display: grid;
  align-items:"center";
  justify-content: "center";
  height: 100vh;
  padding: 0px 30px;
  background: #ddd;
}

.box1 {
  max-width: 750px;
  width: 100%;
  margin: auto;
}

.box2 {
  height: 475px;
  margin: 0;
  box-shadow: 0px 0px 8px 1px #ccc;
  background-color: #fafafa;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-notfound {
  width: 50%;
  height: auto;
  margin: 0 0 25px;
}

.title-notfound {
  font-family: 'Roboto';
  color: rgb(32, 31, 31);
  font-size: 54px;
  margin: 0;
}

.sub-notfound {
  font-family: 'Poppins', sans-serif;
  color: rgba(53, 50, 50, 0.76);
  font-size: 20px;
  width: 35%;
  margin: 16px auto 24px;
  text-align: center;
}

.btn-notfound {
  border-radius: 5px;
  padding: 8px 24px;
  margin-top: 3px;
  margin-bottom: 6px;
  font-size: 13px;
  cursor: pointer;
  background-color: rgba(67, 38, 58, 0.8);
  color: #ccc;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(48, 46, 46, 0.473); 
}

.btn-notfound a{
  height: fit-content;
  width: fit-content;
  padding: 0px;
}
