.boxAvatar{
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(5, 0.5fr);
  grid-template-rows: repeat(5, 0.5fr);
  grid-column-gap: 10px;
  grid-row-gap: 0px;
  align-items: center;
}

.persona1 {
  grid-area: 2 / 2 / 5 / 3;
}

.persona2 {
  grid-area: 2 / 4 / 5 / 5;
}

.persona3 {
  grid-area: 2 / 3 / 5 / 4;
}

.titulo1 {
  grid-area: 1 / 2 / 2 / 5;
  text-align: center;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
    0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1)
}

.profileCard {
  font-family: sans-serif;
  width: 150px;
  height: 150px;
  background: rgba(67, 38, 58);
  padding: 30px;
  border-radius: 20%;
  box-shadow: 0 0 22px rgba(51, 51, 51, 0.4);
  transition: .6s;
  margin: 0 25px;
}

.profileCard:hover {
  border-radius: 10px;
  height: 260px;
}

.profileCard .imagem {
  width: 100%;
  height: 100%;
  transition: .6s;
  z-index: 99;
}

.imagem {
  width: 100%;
  border-radius: 15%;
  box-shadow: 0 0 22px #3336;
  transition: .6s;
}

.profileCard:hover .imagem {
  transform: translateY(-60px);
}

.profileCard:hover img {
  border-radius: 10px;
}

.caption {
  display: grid;
  justify-items: center;
  text-align: center;
  transform: translateY(-80px);
  opacity: 0;
  transition: .6s;
}

.profileCard:hover .caption {
  opacity: 1;
}

.nome{
  font-size: 17px;
  font-family: 'Roboto';
  color: RGB(218, 170, 60);
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
    0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1)
}

.cargo {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.8);
  font-family: 'Roboto';
  width: fit-content;
}
.corpo{
  display: flex;
  justify-content: center;
}
.container {
  display: flex;
    padding: 50px 50px;
    background-size: 50px 50px;
    background-position: center;
    border-radius: 10px;
    background-color: rgba(67, 38, 58, 0.8);
    box-shadow: 2px 3px rgba(0, 0, 0, 0.4);

}
.titulo2 {
  padding: 50px;
  font-family: "Effra Medium";
	color: rgba(67, 38, 58);;
	display: block;
	font-size: 40px;
	font-weight: 400;
}
.titulo3 {
  color: #F96;
	margin:5px 0 15px;
	display:block;
	font-size:30px;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
    0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1)
}
.titulo4{
  color: rgba(255,255,255, 0.8);
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
    0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1)
}
.campo {
  border: none;
  border-radius: 5px;
  width: 30%;
  height: 35px;
  box-shadow: 2px 3px rgba(0, 0, 0, 0.4);
}
.campo2 {
  height:100px;
	max-width:100%;
  resize: none;
  border-radius: 5px;
  box-shadow: 2px 3px rgba(0, 0, 0, 0.4);
}

textarea:invalid {
  border: 2px solid red;
}

.caixaF{
  border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

.botao[type="submit"] {
	cursor:pointer;
	width:102%;
	border:none;
	background-color: rgba(67, 38, 58, 0.8);
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
  box-shadow: 2px 3px rgba(0, 0, 0, 0.4);

}

.botao[type="submit"]:hover {
	background:rgb(218, 185, 2);
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

.botao[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }
.campo:focus, .contact textarea:focus {
	outline:0;
	border:1px solid #999;
}

.campo[type="text"],input[type="email"], textarea, botao[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; 
}

.campo[type="text"],.campo[type="email"],textarea {
	width:100%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
}