@font-face {
    font-family: 'Effra Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Effra Medium'), url('../../assets/fonts/Effra\ Medium.woff') format('woff');
    }

::selection {
    background: RGB(218, 170, 60, 0.8);
}

.page {
  background: #e2e2e5;
  display: flex;
  flex-direction: column;
  height: calc(100% - 40px);
  position: absolute;
  place-content: center;
  width: calc(100% - 40px);
}
@media (max-width: 767px) {
  .page {
    height: auto;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
}
.container-login {
  display: flex;
  height: 320px;
  margin: 0 auto;
  width: 640px;
}
@media (max-width: 767px) {
  .container-login {
    flex-direction: column;
    height: 630px;
    width: 320px;
  }
}
.left {
  background: white;
  height: calc(100% - 50px);
  top: 20px;
  position: relative;
  width: 50%;
}
@media (max-width: 767px) {
  .left {
    height: 100%;
    left: 20px;
    width: calc(100% - 50px);
    max-height: 270px;
  }
}
.login {
  font-family: "Effra Medium";
  font-size: 50px;
  font-weight: 900;
  margin: 50px 40px 40px;
}
.eula {
  color: #999;
  font-size: 14px;
  line-height: 1.5;
  margin: 40px;
}
.right {
  background: #474A59;
  box-shadow: 0px 0px 40px 16px rgba(0,0,0,0.22);
  color: #F1F1F2;
  position: relative;
  width: 50%;
  height: 95%;
}
@media (max-width: 767px) {
  .right {
    flex-shrink: 0;
    height: 100%;
    width: 100%;
    max-height: 350px;
  }
}

.form {
  margin: 40px;
  position: absolute;
}
label {
  color:  #c2c2c5;
  display: block;
  font-family: "Effra Medium";
  font-size: 14px;
  height: 16px;
  margin-top: 20px;
  margin-bottom: 5px;
}
input {
  background: #ddd;
  border: 0;
  border-radius: 5px;
  color: #2b2727;
  font-size: 20px;
  height: 30px;
  line-height: 30px;
  width: 100%;
}

.form .submit {
  color: #ddd;
  font-family: "Effra Medium";
  font-weight: 150;
  text-shadow: 0px 0px 40px 16px rgba(0,0,0,0.22);
  margin-top: 40px;
  transition: color 300ms;
  background-color: rgba(67, 38, 58, 0.8);
  cursor:pointer
}
.form .submit:focus {
  color: #f2f2f2;
}
.form .submit:active {
  color: #d0d0d2;
}
