
.title-get{
    font-family: 'Poppins';
    color: rgba(67, 38, 58, 0.8);
    padding:20px
}

.card-clients{
 list-style-type: none;
 border: solid 2px black;
 background-color: #ddd;
 width: 30%;
 margin: auto auto 10px auto;
 margin-bottom: 25px;
 font-family: 'Poppins';
 box-shadow: 2px 3px rgba(0,0,0,0.4);
 text-align: center;

}

.btn-card{
    color: #ddd;
    font-family: "Effra Medium";
    font-weight: 150;
    text-shadow: 0px 0px 40px 16px rgba(0,0,0,0.22);
    margin: 10px 15px 20px;
    transition: color 300ms;
    background-color: rgba(67, 38, 58, 0.8);
    border: none;
    height: 30px;
    width: 42%;
    cursor:pointer
}

